.bg-image {
    background-image: url("../../../assets/celebration-card-writing-concept.jpg");
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sign-in-icon {
    border-radius: 50%;
    width: 40%;
    height: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
